/* Global font */
* {
	font-family: "Times New Roman", Times, serif;
	padding: auto;
	margin: 10px
}

/* Top navigation: centered and bottom border */
.top-nav {
	border-bottom: 3px solid #000;
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}

.top-nav > * {
	display: inline-block;
	vertical-align: middle;
}

.name {
    text-align: center;
}

.title {
    text-align: center;
}

#skills {
	padding-right: 20px;
}

#last-updated {
	text-align: center;
	font-size: 0.9em;
	margin-top: 20px;
	background-color: lightblue;
}

a {
	color: rgb(0, 0, 255);
}

a:hover {
	color: rgb(8, 238, 58);
}

ul {
	list-style-type: square;
	list-style-position: outside;
}

#closing p {
	font-style: italic;
}



